<table bgcolor="#f6f7f9" width="100%">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <center style="width:100%;min-width:600px;margin:0 auto">
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                        style="max-width:600px;width:100%;margin:0 auto">
                        <tbody>
                            <tr>
                                <td align="center">

                                    <div
                                        style="display:none;width:0px;height:0px;max-width:0px;max-height:0px;font-size:0px;line-height:0px">
                                        One-time passcode</div>

                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:20px 15px 20px 15px">
                                                    <a href="https://www.agoda.com/" title="Agoda" target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.agoda.com/&amp;source=gmail&amp;ust=1693616104359000&amp;usg=AOvVaw1yc2jK77sWPsOl_FePQhXg">
                                                        <img alt="Agoda" border="0" height="36"
                                                            src="https://ci5.googleusercontent.com/proxy/sZtWRj73JQ61IGwyINLKf8HkGPlrAYvaVgvHSx7CzgCBEJOzC0po0-QJz0ngwVfoJBco0DPqgkRlSozKhugtjabiiRSGX3AxsKGOtA=s0-d-e1-ft#http://cdn0.agoda.net/images/email/logo-agoda-flat@2x.png"
                                                            width="80" class="CToWUd" data-bit="iit">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                        style="max-width:600px;width:100%;margin:0 auto">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <center style="width:100%;min-width:600px">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <table bgcolor="#ffffff" border="0" cellpadding="0"
                                                            cellspacing="0" style="border:1px solid #efefef"
                                                            width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" style="padding:25px">
                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="height:10px"
                                                                                        valign="top">&nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left"
                                                                                        style="font-size:14px;height:50px;vertical-align:middle"
                                                                                        valign="top">
                                                                                        Hi, {{email}} <span
                                                                                            class="il">OTP</span> is
                                                                                        {{otp}}. It's valid for 10
                                                                                        minutes.
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" style="height:20px"
                                                                                        valign="top"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left"
                                                                                        style="font-size:14px;vertical-align:middle;color:#d7d7d7"
                                                                                        valign="top">
                                                                                        This is an automatically
                                                                                        generated email.
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </tbody>
</table>